<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Toggle Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Toggle Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox (ionChange)="handleChange($event)"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle (ionChange)="handleChange($event)"></ion-toggle>
    </ion-item>
  </div>
</ion-content>
